.card {
	margin: 20px;
	max-width: 400px;
	max-height: 500px ;
	border-radius: 10px;
	box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.6);
	overflow: hidden;
	cursor: pointer;
	transition: transform 200ms ease-in;
}

.card:hover {
	/*width: auto;*/
	/*height: 500px;*/
	transform: scale(1.10);
}

.card > img {
	object-fit: fill;
	min-width: 475px;
	min-height: 300px;
	width: 100%;
}

.card_text {
    margin-top: 0px;
    border-radius: 100px;
    padding: 25px;
    padding-top: 20px;
    border: 1;
}

.card_text > h2 {
	font-size: 23px;
	font-weight: 700;
}

.card_text > h5 {
	font-size: 17px;
	font-weight: 600;
	margin-top: px;
	margin-bottom: 8px;
}