.searchPage_info {
	padding: 20px;
}

.searchPage_info > p {
	margin-bottom: 10px;
	font-size: 14px;	
}

.searchPage_info > h1 {
	margin-bottom: 30px;
	
}

.searchPage_info > Button {
	border-radius: 30px;
	text-transform: inherit;
	margin-bottom: 5px;	
	border-color: #9c9e9e;
}